body {
	margin: 0;
	font-family: 'Muli', sans-serif;
	background: url("https://images.pexels.com/photos/1257860/pexels-photo-1257860.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  }
  }
  
  * {
	box-sizing: border-box;
  }
  
  .header {
	align-items: center;
	color: white;
	display: flex;
	height: 100px;
	justify-content: space-between;
	top: 0px;
	width: 100%;
  }
  
  .header__img {
	margin-left: 30px;
	width: 200px;
  }
  
  .header__menu {
	  margin-right: 30px;
  }
  
  .header__menu ul {
	display: none;
	list-style: none;
	margin: 0px 0px 0px -14px;
	padding: 0px;
	position: absolute;
	width: 100px;
	text-align: right;
  }
  
  .header__menu:hover ul, ul:hover {
	  display: block;
  }
  
  .header__menu li {
	margin: 10px 0px;
  }
  
  .header__menu li a {
	color: white;
	text-decoration: none;
  }
  
  .header__menu li a:hover {
	text-decoration: underline;
  }
  
  .header__menu--profile {
	align-items: center;
	display: flex;
	cursor: pointer;
  }
  
  .header__menu--profile img {
	margin-right: 8px;
	width: 40px;
  }
  .text {
	text-align: center;
	margin-top: 56px;
	font-size: 1.0em;
	font-family: sans-serif;
	text-transform: uppercase;
  }
  
  .animated {
	animation-duration: 2.5s;
	animation-fill-mode: both;
	animation-iteration-count: infinite;
  }
  @keyframes pulse {
	0% {transform: scale(1);}
	50% {transform: scale(1.1);}
	100% {transform: scale(1);}
  }
  .pulse {
	animation-name: pulse;
	animation-duration: 1s;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: white;
	font-size: 100px;
	font-weight: bold;
	margin: 200px 0px 0px 0px;
  }

  .main__title2 {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	  margin: 0px;
	color: white;
	font-size: 20px;
	font-weight: bold;
  }
  .footer{
	display: flex;
	align-items: flex-end;
	margin-top: 250px;
	height: 100px;
	width: 100%;
}
.footer a{
	color: white;
	cursor: pointer;
	font-size: 14px;
	padding-left: 30px;
	text-decoration: none;
}

.footer a:hover{
	text-decoration: underline;
}
@media only screen and (max-width: 600px){
	.login__container{
		background-color: transparent;
		border: none;
		padding: 0px;
		width: 100%;
	}
	.footer{
		align-items: flex-start;
		flex-direction: column;
	}
}